body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: grey;
}
.container {
  padding: 40px;
  width: 80%;
  margin: 20px auto;
  background-color: white;
}
img {
  width: 60%;
  height: auto;
  margin: 10px auto;
}

.relproduct {
  &__content {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    margin: auto 10px;
    border-radius: 10px;
    height: 320px;
  }

  &__name {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
  }

  &__item {
    margin: 20px auto;
    float: left;
    list-style-type: none;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
  }

  // &__img {
  // }

  &_link {
    position: static;
    display: inline-block;
    background-color: green;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    width: 100%;
    &:hover {
      background-color: lightgreen;
    }
  }
}


//vue-slick-carouseldesign
.slick-prev:before, .slick-next:before {
  color: black;
}

